# --------------------------- Start Print ----------------------------
[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(215)|float %}
    {% set EXTRUDER1_TEMP = params.EXTRUDER1_TEMP|default(215)|float %}
    
    #########################################################
    # Variable speichern für Filament
    #########################################################
    
    {% set material = params.MATERIAL %}
    
    #########################################################
    #  Material erkennung
    # für weitere Filament einstellungen diesen Code kopiern
        #{% if material == "PLA +" %}
        #SET_PRESSURE_ADVANCE ADVANCE=0.028 SMOOTH_TIME=0.040
        #RESPOND MSG="Material: {material}"
        {% if material == "PLA +" %}
        SET_PRESSURE_ADVANCE ADVANCE=0.028 SMOOTH_TIME=0.040
        {% elif material == "PLA" %}
        SET_PRESSURE_ADVANCE ADVANCE=0.028 SMOOTH_TIME=0.040
        {% elif material == "PETG" %}
        SET_PRESSURE_ADVANCE ADVANCE=0.028 SMOOTH_TIME=0.040
        {% endif %}
        RESPOND MSG="Material: {material}"
    #########################################################
     
    # Start bed heating (but don't wait for it)
    M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Home the printer
    G28
    # Move the nozzle near the bed
    G1 Z5 F3000
    # Move the nozzle very close to the bed
    G1 Z0.15 F300
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    BED_MESH_CALIBRATE
    #BED_MESH_PROFILE LOAD="default"
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    LINE_PURGE
    #ACTIVATE_COPY_MODE

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G90
    G28 X
    G90
    # Disable steppers
    M84